#Products,#promotions,#promotionsSubmenu{
    display: none;
}
#sidebar p, #sidebar span{
    cursor: pointer;
}
#sidebar p:hover {
    color: blue;
    font-weight: bold;
}
.span1:hover,.span2:hover{
    color: blue;
    font-weight: bold;
}
#cencel,#pending,#confirm{
    background-color: white;
}
#all{
    background-color: #FFF700;
}
.select{
    color: yellowgreen
}
.light-border{
   border:1px solid lightblue;
   border-radius: 14px;
}
.add-products button:active{
    background:#EF0031 !important;
}
.add-products button:focus{
    background:#EF0031 !important;
}
